<div class="container-fluid" ng-controller="ListProductCtrl">
	
	<div class="row">
		<p ng-show="!products.length">No hay productos</p>
		<div ng-repeat="p in products">	

			<div class="col-xs-12 col-md-2 panel panel-default" style="margin:5px;">
				
					<div class="row-fluid">
							
						<div class="col-sm-12" align="center" style="padding:2px;">
							<img
								src="http://ps393344.dreamhost.com/services-prod//images/discounts/56981f7fc9dbd83354000a99_20160114142151012_1.jpg"
								class="img-responsive thumbnail "
								alt="Generic placeholder thumbnail" />
						</div>

					</div>

					<div class="row">
						
						<div class="col-sm-12" style="padding-left:5px; overflow:hidden;">
							<ul class="list-unstyled">
								<li>Nombre: <label>{{ p.name }}</label></li>
								<li>Precio: <label>{{ p.price}}</label></li>
								<li>Dirección : <label>{{ p.location.address }}</label></li>
							</ul>
						</div>

					</div>
					<div class="row" align="center" style="margin:5px 0px 5px 0px;">
						<div class="col-sm-12">
								<button type="button"
									class="btn btn-danger" ng-click="delete(p.id)">Eliminar</button>
							</div>
						</div>
					</div>	

				</div>


			</div>
		
	</div>
</div>